<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
<base href="../"/>
  <title>Example website</title>
  <meta name="description" content="Example description">
  <meta name="author" content="Marcin Malinowski">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="css/styles.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
       <a href="/">
        <img src="img/logo.png" alt="logo qvegplanet" class="logo">
        </a>
        <nav class="firmmenu">
            <div class="element">Aktualności</div>
            <div class="element">O firmie</div>
            <div class="element">Quorn</div>
            <div class="element">Produkty</div>
            <div class="element">Kontakt</div>
        </nav>
        
        <div class="firmcontent">
            <h1>O firmie</h1>
            <div class="first-part">
                <div class="left-align">Firma Qveg Planet jest angielską firmą z polskim sercem!</div>
                <div class="right-align">Powstała z myślą o nas, a przede wszystkim zwierzętach i naszej planecie!</div>
                <div class="center-align">Jesteśmy dystrybutorem wegetariańskich produktów angielskiej firmy Quorn.</div>
                <div class="center-align theforce">Zostań VEGE!!</div>
                <div class="text">Mamy dość okrucieństwa wobec zwierząt, które czują tak samo jak my, lecz od małego skazane są na cierpieie bez jakiejkolwiek innej możliwości. Urodzić się jedynie po to by cierpieć.. Czyż to nie okropne? Na świecie, gdzie mamy tak szerokie wybory jeśli chodzi o produkty spożywcze, gdzie jest tyle smaków, każdy może znależć coś dla siebie, w świecie, gdzie tony jedzenia się marnują.. Niestety jesteśmy od dziecka przyzwyczjeni do pewnych nawyków żywieniowych i nawet nie zastanawiamy się jak proces produkcji wygląda, idziemy tylko do sklepu, bierzemy co chcemy i nic nas nie obchodzi. A jakby tak zobaczyć rzeźnie..ten pisk, płacz, ból, cierpienie.. tak naprawde bezsensowne cierpienie... Przecież wystarczy zatrzymać się chwilę, pomyśleć, wczuć się, zrozumieć.. Nie wspominając już o chemii i antybiotykch jakimi są często karmione zwierzęta, co również przechodzi na nas..
        

                </div>
               <div class="text">Na szczęście z roku na rok coraz więcej jest ludzi świadomych, którzy pragną ograniczyć lub całkowicie zrezygnować z mięsa.
                </div>
                <div class="text">Jeśli nawet jesteś mięsożercą i nie wyobrażasz sobie życia bez mięsa, chociaż spróbuj Quorna, może przekonasz się i Ty jak pyszne i zdrowe są produkty Quorn i chociaż sporadycznie zastąpisz nimi mięso, jeśli takich ludzi będzie coraz więcej, to już będzie duży krok i okazanie serca naszej planety.</div>
                <div class="text">Tylko razem, wspólnie możemy zmienić świat na lepsze, a przy tym czerpać przyjemność z jedzenia. Czyż to nie wspaniała przyszłość? Dla wszystkich przyjazna, a przede wszytskim możliwa do zrealizowania! :)</div>
            </div>
                <div class="quorn-part">
                            <img src="img/quorn.png" alt="" class="quorn-img"> 
                            <h1>Quorn - co to jest?</h1>
                            <div class="text">
                                                    Quorn znany jest już prawie na całym świecie, czas, aby i polacy się o nim dowiedzieli.
                                Produkty firmy Quorn to alternatywa dla mięsa, jednak to nie jest popularna soja czy warzywa strączkowe, które są często GMO, tutaj zdrowe źródło białka pochodzi z mykoprotein, czyli z grzybów. A mianowicie grzyba Fusarium venenatum, który jest uprawiany w procesie fermentacji, według producenta przypominającym produkcję piwa lub jogurtu. W większości produktów wysuszona masa grzybowa jest mieszana z białkiem jaja od kur z wolnego wybiegu, który ma działanie wiążące i pozwala otrzymać pożądaną konsystencję (teksturę), a następnie jest formowana w produkt ostateczny. W wersji wegańskiej jako spoiwa zamiast białka jaja wykorzystuje się białko pozyskiwane z ziemniaków. W naszej ofercie dostępne produkty są wegetariańskie, natomiast na pewno, z czasem poszerzymy ofertę i o te wegańskie.

                                                
                            </div>
                            <div class="text">Wytwarzanie mikoprotein zużywa mniej ziemi i wody, niż produkcja białka zwierzęcego, więc dla planety i wszytskich jest lepiej!</div>
                            <div class="text">A co także istotne, produkty Quorn  bogate są w białko oraz błonnik, a ubogie w tłuszcze nasycone. 
                        </div>
                        <div class="text"> Są więc doskonałą  alternatywą dla wszystkich bez wyjątku. Każdy kto spróbuje Quorna, przekona się jak wspaniały to produkt. A szeroka gamma rodzajów sprawia, że każdy znajdzie swój ulubiony.</div>
                        <a href=""><h3>Dowiedz się więcej</h3></a>

                        </div>
                <div class="second-part">
                    <div class="text">Serdecznie zachęcamy do zapoznania się z rodzajami Quorna i szukania ich w sklepach.
<br/>
<br/>
Na klientów będą również czekac liczne degustacje, a gdzie, będziemy informować na bieżąco.
<br/>
<br/>
Życzymy wszystkim zdrowego i przyjemnego smacznego! :)
</div>
                    
                </div>
        </div>
        
        <div class="bottomrect">
            <img src="img/bottom.png" alt="background" >
            <div class="call">
                <div>Zadzwoń już dziś!</div>
            <div class="phone-number">123-456-789</div>
            </div>
        </div>
    </div>
</body>
</html>