<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
<base href="../"/>
  <title>Example website</title>
  <meta name="description" content="Example description">
  <meta name="author" content="Marcin Malinowski">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="css/styles.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
       <a href="/">
        <img src="img/logo.png" alt="logo qvegplanet" class="logo">
        </a>
        <nav>
            <div class="element">Aktualności</div>
            <div class="element">O firmie</div>
            <div class="element">Quorn</div>
            <div class="element">Produkty</div>
            <div class="element">Kontakt</div>
        </nav>
        
        <div class="content">
           
            <header>
                <h1>Zdrowy świat, zdrowy Ty!</h1>
                <h2>Quorn - smak i konsystencja mięsa, bez krzywdy dla zwierząt</h2>
                <div href="" class="black-button">Sprawdź produkty</div>
            </header>
            <aside>
            <img src="img/jedzenie1.png" alt="">
            <div class="img_subtitle">Gotowe w 10-15 minut!</div>
            </aside>
        </div>
        
        <div class="bottomrect">
            <img src="img/bottom.png" alt="background" >
            <div class="call">
                <div>Zadzwoń już dziś!</div>
            <div class="phone-number">123-456-789</div>
            </div>
        </div>
    </div>
</body>
</html>