<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
<base href="../"/>
  <title>Example website</title>
  <meta name="description" content="Example description">
  <meta name="author" content="Marcin Malinowski">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="css/styles.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
       <a href="/">
        <img src="img/logo.png" alt="logo qvegplanet" class="logo">
        </a>
        <nav class="quorn-menu">
            <div class="element">Aktualności</div>
            <div class="element">O firmie</div>
            <div class="element">Quorn</div>
            <div class="element">Produkty</div>
            <div class="element">Kontakt</div>
        </nav>
        <div class="quorn-content">
            <img src="img/quorn.png" alt="" class="quorn-img"> 
            <h1>QUORN - co to jest?</h1>
            <div class="text">Wyglądem oraz strukturą przypomina mięso, wielu osobom smakuje jak mięso, lecz… mięsem nie jest. Czym zatem jest tajemniczo brzmiący quorn? Jest mykoproteiną, czyli białkiem grzybowym.</div>
            <div class="text">Już w latach 60. przewidywawno, że wraz z przyrostem naturalnym może zacząć brakować żywności bogatej w białko, dlatego wynaleziono alternatywę jaką jest mykoproteina. Firma Marlow Foods wykorzystała białko z grzyba Fusarium venenatum (rodzaj pleśni) jako alternatywę dla białka mięsnego. Po raz pierwszy mykoproteina pojawiła się na rynku w Wielkiej Brytanii w 1994 roku, po kilku latach również w w innych krajach Europy oraz USA. Jest w pełni wegetariańska. Nie skorzystają z niej jednak weganie, gdyż w większości produktów wysuszona masa grzybowa jest mieszana z białkiem jaja od kur z wolnego wybiegu, który ma działanie wiążące i pozwala otrzymać pożądaną konsystencję (teksturę), a następnie jest formowana w produkt ostateczny. W wersji wegańskiej jako spoiwa zamiast białka jaja wykorzystuje się białko pozyskiwane z ziemniaków. W naszej ofercie dostępne produkty są wegetariańskie, natomiast na pewno, z czasem poszerzymy ofertę i o te wegańskie.</div>
            <div class="text">
                <b>Jak powstaje quorn?</b>
                <br/><br/>
Białko grzybowe wykorzystywane do produktów Quorn powstaje w procesie fermentacji pleśni, a struktura jego grzybni przypomina zwierzęce włókna mięśniowe. W produkcji quorna używa się glukozy, witamin i składników mineralnych. Jeśli ktoś ma wątpliwości do używania pleśni do produkcji żywności, to warto wspomnieć, że wiele innych produktów  otrzymuje się również dzięki enzymom produkowanym przez te grzyby w procesie fermentacji. Takimi produktami są choćby sery dojrzewające, sos sojowy, miso i tempeh.

            </div>
            <div class="text">
                <b>Wartości odżywcze białka grzybowego:</b>
                <br/>
Mykoproteina w suchej masie zawiera
<br/>48% białka,
<br/>-12% tłuszczu,
<br/>-25% błonnika pokarmowego. 

            </div>
            <div class="text">Produkt ten pozbawiony jest cholesterolu oraz tłuszczów trans, natomiast tłuszcze nasycone to tylko 0,7 proc. zawartych w nim tłuszczów. Błonnik to przede wszystkim betaglukan (65 proc.) – polisacharyd, który występuje też w jęczmieniu, pszenicy, owsie, czy życie. 
Quorn jest dobrym źródłem cynku, magnezu i wapnia. </div>
       <div class="text">Betaglukan, który obficie występuje w quornie, jest już od dawna znany ze swoich właściwości redukujących cholesterol LDL. Natomiast białko Quorna ma lepszy współczynnik strawności niż wołowina, ryba i soja, a także jest bogate we wszystkie niezbędne aminokwasy.</div>
        </div>
        
        <div class="bottomrect">
            <img src="img/bottom.png" alt="background" >
            <div class="call">
                <div>Zadzwoń już dziś!</div>
            <div class="phone-number">123-456-789</div>
            </div>
        </div>
    </div>
</body>
</html>